<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>

   
    <!--<add name="AbxConString" connectionString="Server=202.4.117.56;Database=abxerpdb;Uid=dev;Pwd=7OLE3a8E3un36OTAcO6azu333u3oxI;Port=3306" />
    <add name="InvPullConString" connectionString="Data Source=202.4.117.56;User ID=dev;password=aIT@321$$;Initial Catalog=InvDevExpress; Connection Timeout=10000;Persist Security Info=False;" providerName="System.Data.SqlClient" />
	<add name="BillgenixConnectionString" connectionString="Data Source=202.4.117.56; Initial Catalog=billGENIXDB; Persist Security Info=True;User ID=sa;Password=deVambeR4321" providerName="System.Data.SqlClient" />-->


    <add name="AbxConString" connectionString="Server=172.17.17.5;Database=abxErpDb;Uid=abxLive;Pwd=G2%emI2atIv1Iq1CEF*4dIb2;Port=3306"/>
    <add name="InvPullConString" connectionString="Data Source=172.21.129.237\AITDBSVR; Initial Catalog=INVDB_LIVE_V3; Persist Security Info=True;User ID=usr_inv;Password=iNvt1s9I$21n$Ki9*ry" providerName="System.Data.SqlClient"/>
    <add name="BillgenixConnectionString" connectionString="Data Source=172.17.17.3; Initial Catalog=billGENIXDB; Persist Security Info=True;User ID=usr_inv_processor;Password=iNvt09I$2Proc$Ki9*sSor" providerName="System.Data.SqlClient"/>
 
  
  </connectionStrings>

  <appSettings>
    
    
    <add key="Host" value=""/>
    <add key="Password" value=""/> <!--User:Password-->
    <add key="From" value=""/> <!--Employee ID-->

  
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
